<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link
      href="http://localhost:3000/static/product_list.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/static/index.js"></script>
  </head>
  <body>
    <%- include('nav') -%>
    <div id="container">
      <h2>Product list</h2>
      <div class="item-list">
        <% for(let product of products) { %> 
        <div class="item">
          <div>
            
          </div>
          <div>
            <%= product.name %>
          </div>
          <div>
            <%= product.price %>$
          </div>
          <div>
            <%= product.description %>
          </div>
          <div>
            <form class="addToCart">
              <input hidden name="id" value="<%=product.id%>">
              <input type="submit" value="Add to Cart">
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
